body{
    background-color: #6667AB;
    font-family: 'Source Serif Pro';
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: darkmagenta;
}
footer{
    color: darkgrey;
}
.bonApp{
    color: darkslateblue;
}