body{
    background-color: #669900;
    font-family: 'Source Serif Pro';
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#recette{
    margin-left: 1vw;
    margin-right: 1vw;
}
h1{
    color: white;
    font-size: 3vw;
    text-align: center;
}
h2{
    font-size: 2vw;
    color: darkmagenta;
    text-align: center;
}
footer{
    color: darkgrey;
    text-align: center;
}
.bonApp{
    color: darkslateblue;
}
ul,ol{
    font-size: 1.2vw;
}
li{
    margin-top: 1.5vw;
}
#credits{
    font-size: 1.1vw;
}